

body {
    background-color: white; 
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    
}

.top-game-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.status-game-icon {
    font-size: 30px;
}

.game-difficulty {
    display: flex;
    justify-content: center;
}

.extra-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.board-table {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    width:60px; 
    height:60px;
    text-align: center;
    background-color: lightgreen;
     
}

.cell {
    width:40px; 
    height:40px;
    text-align: center
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cell img {
    width:25px; 
    height:auto
}

.cell-bg-before-clicked {
    background-color: lightgray
}

.cell-bg-after-clicked {
    background-color: lightgreen;
}

.lives {
    font-size: 30px;
    width: 100%;
    background-color: lightcoral;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.lives span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: lightgreen;
    display: inline-block;
    width: 176px;
    text-align: center;
    margin-top: 20px;
}

.clues-explanation-modal{
    display: none;
    position: absolute;
    background-color: lightgoldenrodyellow;
    height: 71px;
    width: 344px;
    text-align: center;
    border-radius: 12px;
}
