body {
    background-color: grey;
    text-align: center;
    user-select: none;
}

h1 {
    font-family: 'Comic Sans MS';
    font-size: xx-large;
    text-shadow: 1px 1px 2px rgb(197, 82, 82), 0 0 1em rgb(87, 87, 204), 0 0 0.2em blue;
    padding: 5px;
    position: absolute;
    left: 50%;
    bottom: 90%;
    transform: translate(-50%, 50%);
}

.timer {
    position: absolute;
    background-color: rgb(87 116 170 / 78%);
    border-radius: 10px;
    text-align: left;
    padding-left: 20px;
    width: 150px;
    height: 80px;
    line-height: 80px;
    font-family: 'Orbitron', sans-serif !important;
    font-weight: bold;
}

.time-in-timer {
    color: rgb(8, 21, 141);
}

.levels-area {
    position: absolute;
    top: 100px;
    padding: 10px;
}

.level-btn {
    background-color: lightgray;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Monaco';
    font-size: large;
    font-weight: bold;
}

.level-btn:hover {
    background-color: rgb(179, 174, 174);
    cursor: pointer;
    border: 2px dashed blue;
}

.level-btn:active {
    background-color: rgb(131, 127, 127);
}

.table-style {
    border: 2px dashed rgb(7, 37, 92);
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
}

td {
    border: 2px solid black;
    background-color: rgb(87, 116, 170);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    font-size: 120%;
}

td:hover {
    background-color: rgb(59, 78, 112);
    cursor: pointer;
}

td:active {
    background-color: rgb(42, 56, 80);
    cursor: pointer;
}

img {
    width: 100%;
    height: 80%;
    object-fit: scale-down;
}

.open {
    background-color: rgb(14, 59, 141) !important;
}

.explosive {
    background-color: red !important;
}

.mark {
    border: 2px dashed rgba(190, 4, 4, 0.767);
}

.second-label {
    background-color: rgba(87, 116, 170, 0.781);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 500px;
    position: absolute;
    left: 90%;
    bottom: 0%;
    transform: translate(-60%, -10%);
    line-height: 50px;
    font-family: 'Orbitron', sans-serif !important;
    font-size: x-large;
    font-weight: bold;
}

.heart {
    width: 65px;
}

.hint {
    width: 65px;
}

.hint:hover {
    box-shadow: 0px 0px 10px rgb(182, 171, 14);
}

.safe-click {
    background-color: rgb(78, 78, 207);
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-family: 'Monaco';
    font-size: large;
    font-weight: bold;
}

.safe-click:hover {
    background-color: rgb(179, 174, 174);
    cursor: pointer;
    border: 2px dashed blue;
}

.safe-click:active {
    background-color: rgb(100, 99, 99);
}

.over-screen {
    background-color: rgba(19, 63, 146, 0.938);
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -20%);
    line-height: 200px;
    font-family: 'Orbitron', sans-serif !important;
    font-weight: bold;
    font-size: 60px;
    /* text-shadow: 0px 0px 20px rgb(182, 171, 14); */
    display: none;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -20%);
}